* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
Small smartphones (e.g. iPhone 5/SE) / */
body {
  background-image: url("assets/375x812.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.container {
  height: 100vh;
}
.social-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc((100vh / 100) * 7);
  width: 100%;
  gap: 6.5rem;
}

.social-logos img {
  height: 40px;
  width: 40px;
}

@media only screen and (min-height: 700px) and (max-height: 760px) {
  .social-logos {
    padding-top: calc((100vh / 100) * 10);
  }
  .social-logos img {
    height: 45px;
    width: 45px;
  }
}

/* Big smartphones with portrait orientation (e.g. iPhone XR/11)  */
@media only screen and (min-width: 380px) and (min-height: 812px) {
  .social-logos {
    padding-top: calc((100vh / 100) * 15);
  }
  .social-logos img {
    height: 45px;
    width: 45px;
  }
}

/* Tablets (e.g. iPad)  */
@media only screen and (min-width: 600px) and (max-width: 1023px) and (orientation: portrait) {
  body {
    background-image: url("assets/768x1024\ \(1\).jpg");
  }
  .social-logos {
    padding-top: calc((100vh / 100) * 9);
    gap: 13rem;
  }
  .social-logos img {
    height: 55px;
    width: 55px;
  }
}

/* iPads with landscape orientation */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  body {
    background-image: url("assets/1440x1024.jpg");
  }
  .social-logos {
    padding-top: calc((100vh / 100) * 40);
    padding-right: 70%;
    flex-direction: column;
    gap: 4rem;
  }
  .social-logos img {
    height: 50px;
    width: 50px;
  }
}

/* iPad Pro 12.9" with portrait orientation */
@media only screen and (min-width: 1024px) and (orientation: portrait) {
  body {
    background-image: url("assets/768x1024\ \(1\).jpg");
  }
  .social-logos {
    padding-top: calc((100vh / 100) * 9);
    gap: 13rem;
  }
  .social-logos img {
    height: 65px;
    width: 65px;
  }
}

/* iPad Pro 12.9" with landscape orientation */
@media only screen and (min-width: 1366px) and (orientation: landscape) {
  body {
    background-image: url("assets/1440x1024.jpg");
  }
  .social-logos {
    padding-top: calc((100vh / 100) * 41);
    padding-right: 70%;
    flex-direction: column;
    gap: 5rem;
  }
  .social-logos img {
    height: 65px;
    width: 65px;
  }
}

/* Laptops with resolution of 1366x768 */
@media only screen and (min-width: 1280px) and (max-width: 1366px) and (max-height: 768px) {
  body {
    background-image: url("assets/1440x1024.jpg");
  }
  .social-logos {
    padding-top: calc((100vh / 100) * 38);
    padding-right: 70%;
    flex-direction: column;
    gap: 5rem;
  }
  .social-logos img {
    height: 65px;
    width: 65px;
  }
}

/* Laptops */
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  body {
    background-image: url("assets/1440x1024.jpg");
  }
  .social-logos {
    padding-top: calc((100vh / 100) * 38);
    padding-right: 70%;
    flex-direction: column;
    gap: 5rem;
  }
  .social-logos img {
    height: 65px;
    width: 65px;
  }
}

/* Desktops */
@media only screen and (min-width: 1440px) {
  body {
    background-image: url("assets/1920x1080-2.jpg");
  }
  .social-logos {
    padding-top: calc((100vh / 100) * 38);
    padding-right: 70%;
    flex-direction: column;
    gap: 5rem;
  }
  .social-logos img {
    height: 80px;
    width: 80px;
  }
}

/* Extra-large desktops - 1920px and above */
@media only screen and (min-width: 1920px) {
  body {
    background-image: url("assets/1920x1080-2.jpg");
  }
  .social-logos {
    padding-top: calc((100vh / 100) * 39);
    padding-right: 70%;
    flex-direction: column;
    gap: 5rem;
  }
  .social-logos img {
    height: 80px;
    width: 80px;
  }
}
